<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
<head>
  <link rel="shortcut icon" href="./resources/icons/favicon.ico">
  <link rel="stylesheet" href="./styles/docfx.vendor.css">
  <link rel="stylesheet" href="./styles/docfx.css">

  <link rel="stylesheet" type="text/css" href="./resources/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="./resources/slick/slick-theme.css"/>

  <link rel="stylesheet" href="./styles/main.css"></head>
<body>
  {{{conceptual}}}
  {{>partials/scripts}}
  <script src="./resources/slick/slick.min.js"></script>
</body>
</html>
